.HA_VERSION
abodepy_cache.pickle

# Custom integrations from HACS
/custom_components/*

# Text To Speech Cache
/tts/*

# Themes from HACS
/themes/*

# Google Calendar token
.google.token

# NabuCasa files
/.cloud/*

# UI configured integrations
/.storage/*

# Never save secrets in git
secrets.yaml

# Recorder Database
home-assistant.log
home-assistant_v2.db*

# Lovelace cards from HACS
/www/community/*

# Daily mail delivery gif
/www/mail_and_packages/*
/images/mail_and_packages/*

# HomeAssistant log files
home-assistant.log.*

# webostv config db
webostv.conf

# Nest event images
/nest/event_media/**/*.jpg

# Temporarily ignore esphome
/esphome/*
