.HA_VERSION
.ha_run.lock

# Abode
abodepy_cache.pickle
/Abode/

# Custom integrations from HACS
/custom_components/*

# Text To Speech Cache
/tts/*

# Themes from HACS
/themes/*

# Google Calendar token
.google.token

# NabuCasa files
.cloud/*

# UI configured integrations
.storage/*

# Never save secrets in git
secrets.yaml

# Recorder Database
home-assistant_v2.db*

# Lovelace cards from HACS
/www/community/*

# images
/image/*
/images/*

# Daily mail delivery gif
/www/mail_and_packages/
/images/mail_and_packages/

# www media files
/www/media/

# HomeAssistant log files
home-assistant.log
home-assistant.log.*

# webostv config db
webostv.conf

# Watchman report
/watchman_report.txt

# SQLite DBs
*.db
*.sqlite

# Backups
backups/
backup/

# Trash
.Trash-*/

pycache/
*.pyc
.pytest_cache/
.DS_Store
Thumbs.db
*.swp
*~
node_modules/
.pio/