# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
  # Packages
  packages: !include_dir_merge_named packages
  allowlist_external_dirs:
    - "/tmp"
    - "/media"

  # 2FA
  auth_mfa_modules:
    - type: totp

  # Let known users login from their phones
  # Let kiosk user login from local network
  # Any other scenario requires HA login
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 192.168.0.0/24
      trusted_users:
        192.168.0.4:
          - 9c546e5ab33f47fcbd2103594668aaaf # tom
        192.168.0.0/24:
          - 74a1a86c82c44c3db9e8263156846c35 # Kiosk

  # On restart, set the automations enabled flags to previous values
  customize_domain:
    automation:
      initial_state: true

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.4

logger:
  default: warning
  logs:
    homeassistant.components.mobile_app.notify: debug

# HTTP Server settings
# IP Banning blocks IOS app too easily so its disabled
# http:
#   ip_ban_enabled: true
#   login_attempts_threshold: 5

# Lovelace configuration
frontend:
  themes: !include_dir_merge_named themes

# Enable wake on lan
wake_on_lan:

# Recorder
recorder:
  # MariaDB
  db_url: mysql://homeassistant:vcQh9QYWaWqexC86FyqYechwKgHS9mqr@mariadb.home.filidelphia.com/homeassistant?charset=utf8mb4
  # Exclude history some entities
  exclude:
    domains:
      - calendar
      - group
      - remote
      - update
      - weather
    entity_globs:
      # AdGuard
      - sensor.adguard_*
      - switch.adguard_*
      # Alexa Media Player
      - media_player.*_alexa_*
      - sensor.*_alexa_*
      - switch.*_alexa_*
      # Supervisor & Zigbee2MQTT
      - binary_sensor.*_update_available
      - sensor.*_version
      # Shelly Firmware updates
      - binary_sensor.*_firmware_update
      - button.*_update_firmware
    entities:
      # Sun
      - sun.sun

alert: !include alerts.yaml
automation: !include automations.yaml
input_boolean: !include input_boolean.yaml
notify: !include notify.yaml
script: !include scripts.yaml
sensor: !include sensors.yaml
shell_command: !include shell_command.yaml
switch: !include switch.yaml
template: !include_dir_list templates/
weather: !include weather.yaml

# Enable python scripts (built-in and pyscript)
python_script:
pyscript: !include pyscript/config.yaml
