
# ESPHome / PlatformIO ignores
# Ignore ESPhome local build directory (if present)
.esphome/

# PlatformIO build artifacts and libraries
/.pioenvs/
/.piolibdeps/
/.pio/

# Compiled binaries and ELF files
*.bin
*.elf

# User secrets for ESPhome (do not commit)
secrets.yaml

# Archive or exported files (images, backups)
archive/
