substitutions:
  wifi_ssid: !secret wifi_ssid
  wifi_password: !secret wifi_password
  encryption_key: !secret garage_camera_key
  ota_password: !secret garage_camera_ota

esphome:
  name: garage-camera
  friendly_name: Garage Camera

esp32_camera_web_server:
  - port: 8080
    mode: stream
  - port: 8081
    mode: snapshot

esp32:
  board: esp32dev
  framework:
    type: arduino

wifi:
  ssid: ${wifi_ssid}
  password: ${wifi_password}

# Enable logging
logger:

# Enable Home Assistant API
api:
  password: ${encryption_key}

ota:
  password: ${ota_password}
        
esp32_camera:
  id: Camera
  internal: true # Exposed through frigate
  external_clock:
    pin: GPIO0
    frequency: 20MHz
  i2c_pins:
    sda: GPIO26
    scl: GPIO27
  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  power_down_pin: GPIO32
  horizontal_mirror: False
  vertical_flip: False
  resolution: 1600x1200
  max_framerate: 20 fps
  frame_buffer_count: 2

switch:
  - platform: gpio
    pin: GPIO4
    name: Flash
    id: camera_flash
