substitutions:
  name: home-assistant-voice-098852
  friendly_name: Home Assistant Voice 098852
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: uUV3gUfxuPh8klXE9by5soT6yPx1NZe9IrDdBsN3r3s=


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
